body {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

body text {
    fill: black;
    font: 12px sans-serif;
    text-anchor: end;
}

.nation {
    stroke: white;
    fill: none;
    stroke-width: 1;
}

.states {
    stroke: white;
    fill: none;
    stroke-width: 1;
}

g.counties path {
    stroke: white;
    stroke-width: 0.25;
}

#button-container {
    display: flex;
    height: 30px;
}

#button-container button {
    height: 30px;
    padding: 5px;
}

#button-container button.selected {
    background-color: green;
    color: white;
}
